body {
   margin: 0;
   padding: 0; 
}

/* Header */
.header-top {
    background-color: #f0f2f4;
    border-bottom: 2px solid #e2e2e2;
    height: 45px;
}
.container {
    width: 960px;
    margin: 0 auto;
}

.header-wrapper-top {
    display: flex;
    justify-content: flex-end;
}

.phone {
    height: 45px;
    width: 100px;
    border-right: 2px solid#e2e2e2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mail {
    height: 45px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
}
.header-bottom {
    height: 140px;
}
.header-wrapper-bottom {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation ul{
    display: flex;
}

.navigation li {
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    margin: 0 15px; 
    list-style: none;
}

.navigation li a {
    text-decoration: none;
    color: black;
}

.navigation li a:hover {
    color: red;
}

.header-button {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    text-align: center;
    width: 150px;
    height: 40px;
    background: red;
    border: 1px solid red;
    border-radius: 5px;
}
.header-button a{
    text-decoration: none;
    color: white;
}

/* Banner */
.banner {
    height: 590px;
    background: url(images/hero-bg.jpg);
    background-size: cover;
}

.banner-wrapper {
    width: 960px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
     
}

.banner h2 {
    margin: 0 auto;
    color: white;
    font-size: 45px;
    line-height: 40px;
    font-family: 'Karma', serif;
}

.banner p {
    margin: 0 auto;
    color: white;
    font-size: 22px;
    font-family: 'Karma', serif;
    margin-bottom: 15px;
}

.banner-button {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-align: center;
    width: 300px;
    height: 60px;
    background: yellow;
    border: 1px solid yellow;
    border-radius: 5px;
    text-transform: uppercase;
}
.banner-button a{
    text-decoration: none;
    color: white;
}
